* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

body {
	background: #4f4f4f;
}
.wrapper {
	width: 500px;
	height: 500px;
	border: 1.5px solid white;
	margin: 100px;
	font-size: 17px;
	letter-spacing: 0.5px;
}
.content {
	width: 350px;
	text-align: center;
	margin: 0 auto;
}
.text {
	color: white;
	height: 110px;
	border: 1px solid #373737;
	border-radius: 22px;
	box-shadow: inset 2px 2px 4px 2px#373737;
	background: #494949;
	padding: 35px;
	margin: 30px auto;
}

[type="text"] {
	background: url("../img/blueman.png") -6.5px no-repeat;
	background-size: 70px;

	padding-left: 100px;
	width: 350px;
}
input::placeholder {
	color: rgb(175, 164, 164);
}
[type="number"] {
	background: url("../img/phone.png") left no-repeat;
	background-size: 60px;

	padding-left: 100px;
	/* padding-left: 94px; */
	text-align: left;
	width: 350px;
	/* position: relative;
	left: 6px; */
}
input {
	border: 1px solid #373737;
	border-radius: 50px;
	box-shadow: inset 2px 2px 4px 2px#373737;
	background: #494949;
	height: 60px;
	margin: 10px auto;
}
button {
	border: 1px solid #373737;
	border-radius: 50px;
	box-shadow: 2px 2px 4px 2px#373737;
	background: #0191cb;
	height: 60px;
	margin: 10px auto;
	width: 350px;
	color: white;
}
