* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
body {
	background: #00bf9d;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	margin: 150px;
	width: 450px;
}
.mail {
	float: left;
	color: white;
}
.mail__img {
	margin-bottom: 20px;
}
.mail__text {
	line-height: 25px;
}
.mail__text_normal {
}
.mail__text_bold {
	font-weight: bold;
}
.content {
}
.chertov-rombik {
	width: 15px;
	height: 15px;
	background: #edf0f1;
	float: left;
	transform: rotate(45deg);
	position: relative;
	right: 45px;
	bottom: 165px;
}
.user-data {
	float: right;
	width: 280px;
	height: 230px;
	background: #edf0f1;
	padding: 40px;
	border: 1px solid #edf0f1;
	border-radius: 4px;

	
}

.user-data__items {
	padding: 0 10px;
	
}
.user-data__items_name{}

}
.user-data__items_password {
}

.user-data__items_link {
	margin: 10px 0 0 0;
}
[type="text"],
[type="password"],
button {
	margin: 10px -20px;
	width: 220px;
	border: 1px solid white;
	border-radius: 3px;
	padding: 5px;
	
}

button {
	background: #00bf9d;
	color: white;
}

[type="text"] {

	background: url("../img/chelgray.png") 195px  no-repeat;
		background-size: 20px;
		background-color: #fff;
		
		
}
		

[type="password"]{
	background: url('../img/lock.png') 195px no-repeat;
	background-size: 20px;
	background-color: white;
	
}
.user-data__items a{
	
	color: rgb(189, 180, 180);
	padding: 0 30px;
	white-space: nowrap;
}
[type="text"]:focus{
	background: url('../img/chelgreen.png') 195px no-repeat;
	background-size: 20px;
	border: 1px solid #00bf9d;
	background-color: white;
}
